<div class="container-xl px-4 mt-4">
  <hr class="mt-0 mb-4" />
  <div class="row">
    <div class="col-xl-4">
      <!-- Profile picture card-->
      <div class="card mb-4 mb-xl-0">
        <div class="card-header">Fotos de {{ (cat$ | async)?.name }}</div>
        <div
          class="card-body text-center"
          *ngFor="let photo of (cat$ | async)?.photos">
          <!-- Profile picture image-->
          <img
            class="img-account-profile mx-2"
            [src]="
              photo
                ? photo
                : 'https://dummyimage.com/400x400/ffffff/000000.png&text=Subir+foto'
            "
            alt="Cat profile photo" />
          <button class="btn btn-danger" (click)="open(content)">
            <i class="fas fa-trash"></i>
          </button>

          <ng-template #content let-c="close" let-d="dismiss">
            <div class="modal-header">
              <h2 class="modal-title" id="modal-basic-title">Borrar foto</h2>
              <button
                type="button"
                class="btn-close"
                aria-label="Close"
                (click)="d('Cross click')"></button>
            </div>
            <div class="modal-body">
              <h3>¿Estás seguro de que quieres borrar la foto?</h3>
            </div>
            <div class="modal-footer">
              <button
                type="button"
                class="btn btn-outline-danger"
                (click)="deleteCatPhoto(photo)">
                Borrar
              </button>
            </div>
          </ng-template>
        </div>
        <!-- Profile picture help block-->
        <div class="text-center align-content-center mb-3 mt-5">
          <div
            class="font-italic text-black mb-4"
            style="font-size: 20px; font-weight: 500">
            <i class="fa fa-upload"></i> Subir fotos
          </div>
          <!-- Profile picture upload button-->
          <input
            #imagesInput
            class="btn-primary btn p-1"
            type="file"
            accept="image/*"
            (change)="processImages(imagesInput)"
            multiple />
        </div>
      </div>
    </div>
    <div class="col-xl-8">
      <!-- Account details card-->
      <div class="card mb-4" *ngIf="cat$ | async">
        <div class="card-header">
          Ficha técnica de {{ (cat$ | async)?.name }}
        </div>
        <div class="card-body">
          <form [formGroup]="catForm">
            <div class="mb-3">
              <label class="small mb-1" for="inputUsername"
                >Nombre del animal</label
              >
              <input
                class="form-control"
                id="inputUsername"
                type="text"
                placeholder="Name"
                formControlName="name"
                [value]="(cat$ | async)?.name" />
            </div>

            <div class="mb-3">
              <label class="small mb-1" for="inputAge">Edad (en años)</label>
              <input
                class="form-control"
                id="inputAge"
                formControlName="age"
                type="number"
                placeholder="Edad (en años)"
                [value]="(cat$ | async)?.age" />
            </div>

            <div class="mb-3">
              <label class="small mb-1" for="inputGender">Sexo</label>
              <input
                class="form-control"
                formControlName="gender"
                list="datalistGenderOptions"
                id="inputGender"
                type="text"
                [value]="(cat$ | async)?.gender"
                autocomplete="off"
                placeholder="Click para seleccionar una opción" />

              <datalist id="datalistGenderOptions">
                <option value="Macho">Macho</option>
                <option value="Hembra">Hembra</option>
              </datalist>

              <small
                class="text-danger"
                *ngIf="
                  !isGenderOption(gender?.value?.toString()) && gender?.touched
                ">
                El campo es obligatorio y debe ser una opción de la lista válida
                (Macho/Hembra)
              </small>
            </div>

            <div class="mb-3">
              <label class="small mb-1" for="inputWeight">Peso (en kg)</label>
              <input
                class="form-control"
                id="inputWeight"
                formControlName="weight"
                type="number"
                placeholder="Peso (en kg)"
                [value]="(cat$ | async)?.weight" />
            </div>

            <div class="mb-3">
              <label class="small mb-1" for="inputSize">Tamaño</label>
              <input
                class="form-control"
                formControlName="size"
                list="datalistSizeOptions"
                id="inputSize"
                type="text"
                [value]="(cat$ | async)?.size"
                autocomplete="off"
                placeholder="Click para seleccionar una opción" />

              <datalist id="datalistSizeOptions">
                <option value="Mini">Mini</option>
                <option value="Pequeño">Pequeño</option>
                <option value="Mediano">Mediano</option>
                <option value="Grande">Grande</option>
                <option value="Gigante">Gigante</option>
              </datalist>

              <small
                class="text-danger"
                *ngIf="!isSizeOption(size?.value?.toString()) && size?.touched">
                El campo es obligatorio y debe ser una opción de la lista válida
                (Mini/Pequeño/Mediano/Grande/Gigante)
              </small>
            </div>

            <div class="mb-3">
              <label class="small mb-1" for="inputNeutered">¿Castrado?</label>
              <input
                class="form-control"
                id="inputNeutered"
                formControlName="neutered"
                list="datalistNeuteredOptions"
                type="text"
                placeholder="Click para seleccionar una opción"
                autocomplete="off"
                [value]="(cat$ | async)?.neutered" />

              <datalist id="datalistNeuteredOptions">
                <option value="Si">Si</option>
                <option value="No">No</option>
              </datalist>

              <small
                class="text-danger"
                *ngIf="
                  !isBooleanOption(neutered?.value?.toString()) &&
                  neutered?.touched
                ">
                El campo es obligatorio y debe ser una opción de la lista válida
                (Si/No)
              </small>
            </div>

            <div class="mb-3">
              <label class="small mb-1" for="inputHealthy">¿Sano?</label>
              <input
                class="form-control"
                formControlName="healthy"
                list="datalistHealthyOptions"
                id="inputHealthy"
                type="text"
                [value]="(cat$ | async)?.healthy"
                autocomplete="off"
                placeholder="Click para seleccionar una opción" />

              <datalist id="datalistHealthyOptions">
                <option value="Si">Si</option>
                <option value="No">No</option>
              </datalist>

              <small
                class="text-danger"
                *ngIf="
                  !isBooleanOption(healthy?.value?.toString()) &&
                  healthy?.touched
                ">
                El campo es obligatorio y debe ser una opción de la lista válida
                (Si/No)
              </small>
            </div>

            <div class="mb-3">
              <label class="small mb-1" for="inputWormed"
                >¿Desparasitado?</label
              >
              <input
                class="form-control"
                formControlName="wormed"
                list="datalistWormedOptions"
                id="inputWormed"
                type="text"
                [value]="(cat$ | async)?.wormed"
                autocomplete="off"
                placeholder="Click para seleccionar una opción" />

              <datalist id="datalistWormedOptions">
                <option value="Si">Si</option>
                <option value="No">No</option>
              </datalist>

              <small
                class="text-danger"
                *ngIf="
                  !isBooleanOption(wormed?.value?.toString()) && wormed?.touched
                ">
                El campo es obligatorio y debe ser una opción de la lista válida
                (Si/No)
              </small>
            </div>

            <div class="mb-3">
              <label class="small mb-1" for="inputVaccinated">¿Vacunado?</label>
              <input
                class="form-control"
                id="inputVaccinated"
                list="datalistVaccinatedOptions"
                formControlName="vaccinated"
                type="text"
                autocomplete="off"
                placeholder="Click para seleccionar una opción"
                [value]="(cat$ | async)?.vaccinated" />

              <datalist id="datalistVaccinatedOptions">
                <option value="Si">Si</option>
                <option value="No">No</option>
              </datalist>

              <small
                class="text-danger"
                *ngIf="
                  !isBooleanOption(vaccinated?.value?.toString()) &&
                  vaccinated?.touched
                ">
                El campo es obligatorio y debe ser una opción de la lista válida
                (Si/No)
              </small>
            </div>

            <div class="mb-3">
              <label class="small mb-1" for="inputBirthDate"
                >Fecha de nacimiento</label
              >
              <input
                class="form-control"
                id="inputBirthDate"
                formControlName="birthDate"
                type="date"
                placeholder="Fecha de nacimiento"
                [value]="(cat$ | async)?.birth_date" />
            </div>

            <div class="mb-3">
              <label class="small mb-1" for="inputActivity"
                >Actividad del animal</label
              >
              <input
                class="form-control"
                formControlName="activityLevel"
                list="datalistActivityOptions"
                id="inputActivity"
                type="text"
                [value]="(cat$ | async)?.activity_level"
                autocomplete="off"
                placeholder="Click para seleccionar una opción" />

              <datalist id="datalistActivityOptions">
                <option value="Baja">Baja</option>
                <option value="Media">Media</option>
                <option value="Alta">Alta</option>
              </datalist>

              <small
                class="text-danger"
                *ngIf="
                  !isActivityLevelOption(activityLevel?.value?.toString()) &&
                  activityLevel?.touched
                ">
                El campo es obligatorio y debe ser una opción de la lista válida
                (Media/Baja/Alta)
              </small>
            </div>

            <div class="mb-3">
              <label class="small mb-1" for="inputMicrochip">¿Microchip?</label>
              <input
                class="form-control"
                id="inputMicrochip"
                list="datalistMicrochipOptions"
                autocomplete="off"
                formControlName="microchip"
                type="text"
                placeholder="Click para seleccionar una opción"
                [value]="(cat$ | async)?.microchip" />

              <datalist id="datalistMicrochipOptions">
                <option value="Si">Si</option>
                <option value="No">No</option>
              </datalist>

              <small
                class="text-danger"
                *ngIf="
                  !isBooleanOption(microchip?.value?.toString()) &&
                  microchip?.touched
                ">
                El campo es obligatorio y debe ser una opción de la lista válida
                (Si/No)
              </small>
            </div>

            <div class="mb-3">
              <label class="small mb-1" for="inputUrgency"
                >¿Adopción urgente?</label
              >
              <input
                class="form-control"
                id="inputUrgency"
                formControlName="isUrgent"
                list="datalistUrgentOptions"
                autocomplete="off"
                type="text"
                placeholder="Click para seleccionar una opción"
                [value]="(cat$ | async)?.is_urgent" />

              <datalist id="datalistUrgentOptions">
                <option value="Si">Si</option>
                <option value="No">No</option>
              </datalist>

              <small
                class="text-danger"
                *ngIf="
                  !isBooleanOption(isUrgent?.value?.toString()) &&
                  isUrgent?.touched
                ">
                El campo es obligatorio y debe ser una opción de la lista válida
                (Si/No)
              </small>
            </div>

            <div class="mb-3">
              <label class="small mb-1" for="inputDescription"
                >Descripción</label
              >
              <input
                class="form-control"
                id="inputDescription"
                formControlName="description"
                type="text"
                placeholder="Descripción"
                [value]="(cat$ | async)?.description" />
            </div>

            <div class="col-md-6">
              <button
                class="btn btn-primary"
                type="button"
                [disabled]="catForm.invalid"
                (click)="updateCat()">
                Guardar cambios
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
