<div
  class="d-flex flex-row mt-3 justify-content-center mb-4"
  style="width: 100%">
  <div class="mx-3">
    <button
      class="btn btn-primary"
      style="margin-right: 20px"
      (click)="goToDogs()">
      Perros
    </button>
    <button class="btn btn-primary" (click)="goToCats()">Gatos</button>
  </div>
  <button
    class="btn btn-primary ms-5"
    id="show_more_cards"
    (click)="newAnimal(true)">
    <i class="bi bi-plus-circle-fill" style="margin-right: 5px"></i> Añadir
    animal
  </button>
</div>

<ng-container class="container">
  <div
    class="row col-xs-12 col-sm-8 col-md-9 col-lg-11 justify-content-center"
    style="margin-left: 10px !important">
    <div
      class="card p-2 m-3 shadow p-3 mb-5 bg-light rounded"
      style="width: 18rem"
      *ngFor="let dog of dogs">
      <img
        class="card-img-top rounded"
        [src]="
          dog.photos[0] !== undefined
            ? dog.photos[0]
            : 'https://dummyimage.com/254x190/ffffff/000000.png&text=No+hay+fotos'
        " />
      <div class="card-body text-center">
        <h4 class="card-title" style="letter-spacing: 1.5px">
          <b>{{ dog.name }}</b>
        </h4>
        <ul class="list-group mb-4" style="font-size: 17px">
          <li class="list-group-item list-group-item-info">
            <i
              class="bi bi-gender-ambiguous"
              style="font-size: 20px; margin-right: 5px"></i>
            {{ dog.gender }}
          </li>
          <li class="list-group-item list-group-item-info">
            <i
              class="bi bi-hospital"
              style="font-size: 20px; margin-right: 5px"></i>
            {{ dog.neutered === true ? 'Castrado' : 'Sin castrar' }}
          </li>
          <li class="list-group-item list-group-item-info">
            <i
              class="bi bi-alarm"
              style="font-size: 20px; margin-right: 5px"></i>
            {{ dog.is_urgent ? 'Urgente' : 'No urgente' }}
          </li>
        </ul>
        <button
          type="button"
          (click)="editDog(dog?.id)"
          class="btn btn-primary"
          style="margin-right: 10px">
          <i class="bi bi-pencil-square"></i>
        </button>
        <button type="button" (click)="open(contentDog)" class="btn btn-danger">
          <i class="bi bi-trash3"></i>
        </button>

        <ng-template #contentDog let-c="close" let-d="dismiss">
          <div class="modal-header">
            <h2 class="modal-title">Borrar animal</h2>
            <button
              type="button"
              class="btn-close"
              aria-label="Close"
              (click)="d('Cross click')"></button>
          </div>
          <div class="modal-body">
            <p>¿Estás seguro de que quieres borrar el animal?</p>
          </div>
          <div class="modal-footer">
            <button
              type="button"
              class="btn btn-outline-danger"
              (click)="deleteDog(dog?.id)">
              Borrar
            </button>
          </div>
        </ng-template>
      </div>
    </div>
  </div>
</ng-container>

<ng-container>
  <div
    class="row col-xs-12 col-sm-8 col-md-9 col-lg-11 justify-content-center"
    style="margin-left: 10px !important">
    <div
      class="card p-2 m-3 shadow p-3 mb-5 bg-light rounded"
      style="width: 18rem"
      *ngFor="let cat of cats">
      <img
        class="card-img-top rounded"
        [src]="
          cat.photos[0] !== undefined
            ? cat.photos[0]
            : 'https://dummyimage.com/254x190/ffffff/000000.png&text=No+hay+fotos'
        " />
      <div class="card-body text-center">
        <h4 class="card-title" style="letter-spacing: 1.5px">
          <b>{{ cat.name }}</b>
        </h4>
        <ul class="list-group mb-2" style="font-size: 17px">
          <li class="list-group-item list-group-item-info">
            <i
              class="bi bi-gender-ambiguous"
              style="font-size: 20px; margin-right: 5px"></i>
            {{ cat.gender }}
          </li>
          <li class="list-group-item list-group-item-info">
            <i
              class="bi bi-hospital"
              style="font-size: 20px; margin-right: 5px"></i>
            {{ cat.neutered ? 'Castrado' : 'Sin castrar' }}
          </li>
          <li class="list-group-item list-group-item-info">
            <i
              class="bi bi-alarm"
              style="font-size: 20px; margin-right: 5px"></i>
            {{ cat.is_urgent ? 'Urgente' : 'No urgente' }}
          </li>
        </ul>
        <button
          type="button"
          (click)="editCat(cat?.id)"
          class="btn btn-primary"
          style="margin-right: 20px">
          <i class="bi bi-pencil-square"></i>
        </button>
        <button type="button" (click)="open(contentCat)" class="btn btn-danger">
          <i class="bi bi-trash3"></i>
        </button>

        <ng-template #contentCat let-c="close" let-d="dismiss">
          <div class="modal-header">
            <h2 class="modal-title">Borrar animal</h2>
            <button
              type="button"
              class="btn-close"
              aria-label="Close"
              (click)="d('Cross click')"></button>
          </div>
          <div class="modal-body">
            <p>¿Estás seguro de que quieres borrar el animal?</p>
          </div>
          <div class="modal-footer">
            <button
              type="button"
              class="btn btn-outline-danger"
              (click)="deleteCat(cat?.id)">
              Borrar
            </button>
          </div>
        </ng-template>
      </div>
    </div>
  </div>
</ng-container>
<router-outlet></router-outlet>
