.list-group-item-info {
  background-color: #ffffff;
}

img {
  max-height: 145px !important;
  min-height: 145px !important;
}

.mat-divider.mat-divider-vertical {
  border-right-width: 2px !important;
}
.mat-divider-vertical {
  border-right-color: #006fab !important;
}
