<section class="vh-100" style="background-color: #eee">
  <div class="container h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-lg-12 col-xl-11">
        <div class="card text-black" style="border-radius: 25px">
          <div class="card-body p-md-5">
            <div class="row justify-content-center">
              <div class="col-md-10 col-lg-6 col-xl-5 order-2 order-lg-1">
                <p class="text-center h1 fw-bold mb-5 mx-1 mx-md-4 mt-4">
                  Recuperar contraseña
                </p>

                <form class="mx-1 mx-md-4" [formGroup]="restoreForm">
                  <div class="d-flex flex-row align-items-center mb-4">
                    <i class="bi bi-envelope-fill me-3"></i>
                    <div class="form-outline flex-fill mb-0">
                      <label class="form-label" for="emailLogin">Correo</label>
                      <input
                        type="email"
                        formControlName="email"
                        id="emailLogin"
                        placeholder="correo@correo.com"
                        pattern="^[a-zA-Z0-9_.+-]+@[a-zA-Z0-9-]+\.[a-zA-Z0-9-.]+$"
                        class="form-control" />

                      <div *ngIf="email?.errors?.required && email?.touched">
                        <small class="text-danger"
                          >El correo es obligatorio</small
                        >
                      </div>

                      <div *ngIf="email?.errors?.pattern && email?.touched">
                        <small class="text-danger"
                          >El correo no es válido</small
                        >
                      </div>
                    </div>
                  </div>

                  <div class="d-flex justify-content-center mx-4 mb-3 mb-lg-4">
                    <button
                      type="button"
                      class="btn btn-primary btn-lg"
                      (click)="restorePassword()"
                      [disabled]="restoreForm.invalid">
                      Reestablecer
                    </button>
                  </div>
                </form>

                <div class="d-flex justify-content-center">
                  <p>
                    ¿Quieres volver a probar de nuevo?
                    <a
                      [routerLink]="'/login'"
                      routerLinkActive="active"
                      class="text-primary fw-bold">
                      Volver a login</a
                    >
                  </p>
                </div>
              </div>
              <div
                class="col-md-10 col-lg-6 col-xl-7 d-flex align-items-center order-1 order-lg-2">
                <img
                  src="assets/logo.png"
                  class="img-fluid"
                  alt="Sample image" />
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
