<nav
  style="background: #006fab"
  class="navbar navbar-expand-sm navbar-dark flex-sm-nowrap flex-wrap">
  <div class="container-fluid">
    <button
      class="navbar-toggler flex-grow-sm-1 flex-grow-0 me-2"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarTitle">
      <span class="navbar-toggler-icon"></span>
    </button>
    <a href="" class="navbar-brand flex-grow-1">{{
      (organization$ | async)?.name
    }}</a>
    <div
      class="navbar-collapse collapse flex-grow-1 justify-content-center w-100"
      id="navbarTitle">
      <ul class="navbar-nav mx-auto" style="margin-right: 10% !important">
        <li class="nav-item" style="margin-left: 30px !important">
          <a class="nav-link text-white" [routerLink]="'/profile'">Mi perfil</a>
        </li>
        <li class="nav-item" style="margin-left: 30px !important">
          <a class="nav-link text-white" [routerLink]="'/animals'"
            >Mis animales</a
          >
        </li>
        <li class="nav-item" style="margin-left: 30px !important">
          <a class="nav-link text-white" [routerLink]="'/petitions'"
            >Peticiones</a
          >
        </li>
      </ul>

      <ul class="navbar-nav ms-auto flex-nowrap">
        <li class="nav-item">
          <i
            matTooltip="Logout"
            matTooltipPosition="left"
            class="bi bi-box-arrow-right"
            style="color: #d3851f; font-size: 30px; cursor: pointer"
            (click)="authService.logout(true)"></i>
        </li>
      </ul>
    </div>
  </div>
</nav>
<router-outlet></router-outlet>
